/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Nunito", sans-serif;
  color: #444444;
}

/* a {
  color: #cc1616;
}

a:hover {
  color: #e82d2d;
  text-decoration: none;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif;
}

/* #topbar {
    width: 100%;
} */

/* btn styling */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #080a0c;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 1;
  font-size: 30px;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* Navbar styling */
.navbar {    
  position: fixed;
  width: 100%;    
  padding: 1% 2%;   
  transition: all 0.3s ease;
  z-index: 1;  
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar.sticky{    
  padding: 1% 2%;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.9);
}

.navbar-section .navbar-brand {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "PT Sans", sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link {
  margin: 0px 5px;
  font-weight: 600;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/* .navbar-expand-lg .navbar-nav .nav-item .nav-link.active:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #009961;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar .collapse a:hover:before, .navbar .collaspe li:hover > a:before, .navbar .collapse .active > a:before {
  visibility: visible;
  width: 100%;
}

.navbar .collapse a:hover, .navbar .collapse .active > a, .navbar .collapse li:hover > a {
  color: #fff;
} */
/* .navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #FFFE57 !important;
} */

/* .navbar.sticky .nav-link:hover {
  color: #fff !important;
} */

.navbar-nav li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #009961;
  visibility: hidden;  
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav li > a:hover:before, 
.navbar-nav li:hover > a:before, 
.navbar-nav li.active > a:before {
  visibility: visible;
  width: 100%;
}

.navbar-nav a:hover, .navbar-nav li.active > a, .navbar-nav li:hover > a {
  color: #fff;
}

/* .navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff; 
}

.navbar .navbar-nav .nav-pills {
  background: red;
} */


/* Hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  background: url("../img/christopher-gower-m_HRfLhgABo-unsplash.jpg") top center;
  background-size: cover;
  position: relative;    
}

.hero-section:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-section .container {
  padding-top: 5%;
  position: relative;
  text-align: left;
}

.hero-section h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px; 
}

.hero-section h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}
